/* main content*/
#main_content {
  width: nth($width-viewport, 4);
  height: nth($width-viewport, 4)/(1920/1280);
  display: block;
  position: relative;
  float: left;

  .about {
    position: relative;
    height: nth($height-percentage, 2);
    width: nth($width-percentage,1);

    .about_bg {
      height: nth($height-percentage, 2);
      width: nth($width-percentage,1);
      opacity: 0.3;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 1;

      img {
        position: absolute;
        top: 0;
       
        height: nth($width-viewport, 4)/(1920/1280);
        border: 0;
        vertical-align: middle;
        min-width: nth($width-viewport, 5);
      }
    }

    .about_content {
      position: relative;
      width: nth($width-viewport, 3);
      height: nth($width-viewport, 4)/(1920/1280);
      z-index: 2;
      color: nth($logo_color, 3);
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-start;
      align-content: flex-start;
    }

    &_content-socialmedia {
      margin-top: nth($margin-left, 2);
      align-self: stretch;
      width: nth($width-viewport, 2);
      border-bottom: 1px solid black;
      @include breakpoint (small-mobile) {
        font-size: nth($font-contact,1);
      }
      @include breakpoint (mobiles-tablets) {
        font-size: nth($font-contact,2);
      }
      @include breakpoint (medium-screens) {
        font-size: nth($font-contact,3);
      }
      @include breakpoint (wide-screens) {
        font-size: nth($font-contact,4);
      }
    }

    &_content-us {
      width: auto;
      height: nth($height-percentage, 1);
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      h1 {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        width: nth($width-viewport, 2);
        @include breakpoint (small-mobile) {
          font-size: nth($font-size,2);
        }
        @include breakpoint (mobiles-tablets) {
          font-size: nth($font-size,4);
        }
        @include breakpoint (medium-screens) {
          font-size: nth($font-size,3)*2;
        }
        @include breakpoint (wide-screens) {
          font-size: nth($font-size,2)*4;
        }
        font-family: Megrim, sans-serif;
      }

      h5 {
        font-style: italic;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        width: nth($width-viewport, 2);
        @include breakpoint (small-mobile) {
          font-size: nth($font-size, 1);
        }
        @include breakpoint (mobiles-tablets) {
          font-size: nth($font-size, 1);
        }
        @include breakpoint (medium-screens) {
          font-size: nth($font-size, 2);
        }
        @include breakpoint (wide-screens) {
          font-size: nth($font-size, 3);
        }
      }

      a {
        display: flex;
        border-radius: 10%;
        border: 1px solid nth($logo_color,1);
        color: nth($logo_color, 1);
        font-weight: bold;
        text-decoration: none;
        cursor: pointer;
        white-space: nowrap;
        align-items: center;
        align-content: center;
        justify-content: center;
        width: nth($width-viewport, 1);
        height: nth($width-viewport, 1)*0.3;
        @include breakpoint (small-mobile) {
          min-width: nth($min-width,1);
        }
        @include breakpoint (medium-screens) {
          max-width: nth($max-width,1);
          max-height: nth($max-height,1);
        }
        @include breakpoint (wide-screens) {
          max-width: nth($max-width,1);
          max-height: nth($max-height,1);
        }

        &:hover {
          color: nth($logo_color,2);
          border-color: nth($logo_color,2);
        }
      }
    }

    .about_content-contact {
      ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        list-style: none;
        width: nth($width-viewport, 2);
        @include breakpoint (small-mobile) {
          flex-wrap: wrap;
          font-size: nth($font-contact,1);
        }
        @include breakpoint (mobiles-tablets) {
          flex-wrap: wrap;
          font-size: nth($font-contact,2);
        }
        @include breakpoint (medium-screens) {
          font-size: nth($font-contact,3);
        }
        @include breakpoint (wide-screens) {
          font-size: nth($font-contact,4);
        }
      }
    }
  }
}

.blue {
  font-weight: bold;
  color: nth($logo_color,1);
}
