@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.trips {
  @include flexbox;
  flex-flow: column;
  width: 100%;
  min-height: 400px;
  max-width: 1200px;
  margin: 50px auto 10px;
  .row {
    width: 100%;

    height: auto;
    @include flexbox;
    align-content: stretch;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 5px;
    @for $i from 1 through 6{
      .col-#{$i} {
        width: (((100%/6))* $i)- 2%;
        height: auto;
        @include flexbox;
        align-items: center;
        justify-content: center;
        margin: 1%;
        overflow: hidden;
        border-radius: 10%;
      //  &:first-child {
      //    margin-right: 50px;
      //  }
        a {
          width: 100%;
          @include flexbox;
          align-items: center;
          justify-content: center;
          position: relative;
          img {
            min-width: 100%;
            width: 200px;
            height: 150px;
            border-radius: 10%;
          }
          span{
            display: none;
            color:white;
            justify-content: center;
            align-items: center;
          }
          &:hover {
            span {
              display: flex;
              min-width: 100%;
              width: 200px;
              height: 150px;
              border-radius: 10%;
              position: absolute;
              transform: translate(0px, 0px);
              background-color: rgba(0, 0, 0, 0.4);
            }
          }
        }
      }
    }
  }
}
