@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.trips {
  @include flexbox;
  flex-flow: column;
  width: 100%;
  min-height: 400px;
  max-width: 1200px;
  margin: 50px auto 10px;
  .row {
  align-content: stretch;
    flex-flow: row wrap;
    justify-content: space-around;
    @for $i from 1 through 6{
      .col-#{$i} {
        align-items: center;
        justify-content: center;
        overflow: hidden;
        border-radius: 10%;
        &_title{
          display: none;
          @include breakpoint (wide-screens){
          display: flex;
          align-items: center;
          justify-content: center;
          }
          @include breakpoint (medium-screens){
          display: flex;
          align-items: center;
          justify-content: center;
          }
        }
        a {
          width: 100%;
          @include flexbox;
          align-items: center;
          justify-content: center;
          position: relative;
          img {
            min-width: 100%;
            @include breakpoint (mobiles-tablets){
              height: 150px;
            };
            @include breakpoint (medium-screens){
              height: 100px;
            };
            @include breakpoint (wide-screens){
              height: 150px;
            };
            width: 200px;
            height: 100px;
            border-radius: 10%;
          }
          span{
            display: none;
            color:white;
            justify-content: center;
            align-items: center;
          }
          &:hover {
            span {
              display: flex;
              min-width: 100%;
              width: 200px;
              height: 150px;
              border-radius: 10%;
              position: absolute;
              transform: translate(0px, 0px);
              background-color: rgba(0, 0, 0, 0.4);
            }
          }
        }
      }
    }
  }
}
