/*colors and fonts*/
$logo_color: 	#627C7D, 	#F19C19, #000000;
$main_font: Raleway, sans-serif;
$headers_font: Megrin, sans-serif;
$font-size: 0.7rem, 1rem, 1.25rem, 1.5rem;
$font-contact: 10px, 12px, 14px, 18px;

@font-face {
  font-family: 'Raleway';
  src: url('fonts/Raleway-Regular.eot');
  src: local('fonts/Raleway-Regular.eot'), local('Raleway-Regular'), url('Raleway-Regular.eot?#iefix') format('embedded-opentype'), url('fonts/Raleway-Regular.woff') format('woff'), url('fonts/Raleway-Regular.woff') format('woff'), url('fonts/Raleway-Regular.ttf') format('truetype'), url('fonts/Raleway-Regular.svg#Raleway-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway';
  src: url('fonts/Raleway-Bold.eot');
  src: local('fonts/Raleway Bold.eot'), local('Raleway-Bold'), url('fonts/Raleway-Bold.eot?#iefix') format('embedded-opentype'), url('fonts/Raleway-Bold.woff') format('woff'), url('fonts/Raleway-Bold.woff') format('woff'), url('fonts/Raleway-Bold.ttf') format('truetype'), url('fonts/Raleway-Bold.svg#Raleway-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway';
  src: url('fonts/Raleway-Italic.eot');
  src: local('fonts/Raleway Italic.eot'), local('Raleway-Italic'), url('fonts/Raleway-Italic.eot?#iefix') format('embedded-opentype'), url('fonts/Raleway-Italic.woff') format('woff'), url('fonts/Raleway-Italic.woff') format('woff'), url('fonts/Raleway-Italic.ttf') format('truetype'), url('fonts/Raleway-Italic.svg#Raleway-Italic') format('svg');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Megrim';
  src: url('fonts/Megrim.eot');
  src: local('fonts/Megrim.eot'), url('fonts/Megrim.eot?#iefix') format('embedded-opentype'), url('fonts/Megrim.woff') format('woff'), url('fonts/Megrim.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

/*RWD - mediaqueries*/
$break-small: 375px; // iphone 6 portrait 375px
$break-medium: 568px; // iphone 5 landscape 568px, ipad 758-1024px
$break-large: 1024px; // desktops and laptops

@mixin breakpoint($media) {
  @if $media == small-mobile {
    @media only screen and (max-width: $break-small){
      @content;}
  }
  @else if $media == mobiles-tablets {
    @media only screen and (min-width: $break-small+1) and (max-width: $break-medium){
      @content; }
  }
  @else if $media == medium-screens{
    @media only screen and (min-width: $break-medium+1) and (max-width: $break-large){
      @content;  }
  }
  @else if $media == wide-screens {
    @media only screen and (min-width: $break-large+1){
      @content; }
  }
}

/*css reset*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0 auto;
}

html, body {
  font-family: nth($main_font,1);
  @include breakpoint (small-mobile){
    font-size: 10px;
    width:100vw;
  }
  @include breakpoint (mobiles-tablets){
    font-size: 12px;
    width:100vw;
  }
  @include breakpoint (medium-screens){
    font-size: 14px;
    width:100vw;
  }
  @include breakpoint (wide-screens){
    font-size: 16px;
    width:100vw;
  }
}

/* sizes, margins, paddings*/
$margin-left: 17vw, 12vw;
$padding-content: 10px, 20px, 50px, 70px;

/*width, height*/
$max-width: 250px;
$min-width: 100px;
$max-height: 50px, 80px;
$width-viewport: 30vw, 70vw, 90vw, 100vw, 110vw, 50vw;
$width-percentage: 100%, 90%, 77%;
$height-percentage: 55%, 100%;
